{% extends 'base.html.twig' %}

{% block title %}Créer un tag{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un tag</h1>
    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}
