
{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Liste des tags</h1>
    {# Ajoutez ici le contenu de la vue tag #}
</div>
{% endblock %}
